.result-page{

    text-align: center;
    display: flex;
    justify-content: center;
    margin: 250px;
}

.result-answer{
    font-size: 48px;
    text-align: center;
    justify-content: center;
}